/* Responsive 768px */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* ---------------------------- */

/* Responsive 576px */
@media screen and (max-width: 576px) {
  .header-font {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col {
    margin-bottom: 60px;
  }

  .lessons .col {
    width: 100%;
  }

  .steps .col {
    width: 100%;
  }

  .steps {
    width: 100%;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .why-us .col {
    width: 100%;
  }

  .why-us {
    padding-top: 3rem;
    background-color: #222222;
  }
}

/* ---------------------------- */
